<!DOCTYPE html>
<html lang="en" xmlns:sa="http://www.thymeleaf.org/extras/sa-token"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--公共模块-->
    <div th:replace="~{layout}"></div>
<body>
<div class="panel panel-default operation" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" id="addForm" lay-filter="info">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">产品编码</label>
                <div class="layui-input-block">
                    <input type="productCode" name="productCode" placeholder="请输入内部产品编码（如 WK-LAP-17-N5095）"
                           autocomplete="off" class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品名称</label>
                <div class="layui-input-block">
                    <input type="productName" name="productName"
                           placeholder="请输入产品名称（内部用，比如：17.3寸N5095办公本）" autocomplete="off"
                           class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详细描述</label>
                <div class="layui-input-block">
                    <input type="detailDescription" name="detailDescription"
                           placeholder="请输入详细描述（规格、卖点等，可选）" autocomplete="off"
                           class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <select name="status" id="status0" lay-filter="status0"></select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="remark" name="remark" placeholder="请输入备注" autocomplete="off"
                           class="layui-input disabled">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table_div">
    <div id="searchParam" sa:hasPermission="product:list">
        <form class="layui-form " id="searchForm1" lay-filter="searchForm1">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">产品编码</label>
                    <div class="layui-input-inline">
                        <input type="productCode" name="productCode" placeholder="请输入产品编码" autocomplete="off"
                               class="layui-input disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status" id="status1" lay-filter="status1"></select>
                    </div>
                </div>
                <div class="layui-inline ">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i
                            class="layui-icon"></i> 搜 索
                    </button>
                </div>
            </div>
        </form>
    </div>
    <table class="layui-table" id="showTable" lay-filter="showTable"></table>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container oper">
        <button class="layui-btn layui-btn-sm" lay-event="add" sa:hasPermission="product:add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" sa:hasPermission="product:delete">删除</button>
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" sa:hasPermission="product:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" sa:hasPermission="product:delete">删除</a>
</script>

</body>
</html>
<script>
    layui.use(function () {
      var table = layui.table;
      var form = layui.form;
      var layer = layui.layer;
        var dictTypes = ['productStatus', 'enable', 'shopType', 'active'];

        // 一次性加载
        loadDicts(dictTypes, function () {
            renderDictSelect('productStatus', $('#status0'), '请选择', 'addForm');
            renderDictSelect('productStatus', $('#status1'), '请选择', 'searchForm1');
        })
      //加载table
      var tableIns1 = table.render({
        elem: '#showTable'
        , contentType: 'application/json'
        , page: true //开启分页
        , url: ctx + 'product/listByPage' //数据接口
        , method: 'POST'
        , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
          return {
            "code": res.code, //解析接口状态
            "msg": res.msg, //解析提示文本
            "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
            "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
          }
        }
        , cols: [
          [
            {type: 'checkbox', fixed: 'left'},
            {field: 'productName', width:250, title: '产品名称', sort: true},
            {field: 'productCode',width:250, title: '产品编码', sort: true},
            {field: 'detailDescription', title: '详细描述', sort: true},
            {field: 'status', width:100, title: '状态', sort: true,templet:function(item){return getDictLabel('productStatus',item.status);}},
            {field: 'remark', title: '备注', sort: true},
            {field: 'updatedBy', title: '更新人', sort: true},
            {field: 'updatedTime', title: '更新时间', sort: true},
            {width: 180, toolbar: "#tool", title: '操作'}
          ]
        ]
        , toolbar: '#toolbar'
      });


      //表头工具
      table.on('toolbar(showTable)', function(obj){
        switch(obj.event){
          case 'batchDeleted':
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            if(data.length==0){
              layer.msg("请选择要批量删除的列");
            }else {
              var ids = [];
              $(data).each(function (index,item) {
                ids.push(item.id);
              });
              tipDialog(ids);
            }
            break;
          case 'add':
            toUnDisabled();
            $(".table_div").hide();
            $(".operation").show();
            $(".title").html("新增");
            setTimeout(function () {
              form.val('info', {
                "test": "test"
                , "id": ""
                , "productCode": ""
                , "productName": ""
                , "productNameEn": ""
                , "brandName": ""
                , "categoryId": ""
                , "mainImageUrl": ""
                , "thumbnailImageUrl": ""
                , "shortDescription": ""
                , "detailDescription": ""
                , "status": ""
                , "remark": ""
                , "updatedBy": ""
                , "createdTime": ""
                , "updatedTime": ""
              });
            }, 200);
            break;
        };
      });
      //列操作
      table.on('tool(showTable)',function (obj) {
        var data = obj.data;
        switch (obj.event) {
          case 'del':
            var ids=[];
            ids.push(data.id);
            tipDialog(ids);
            break;
          case 'look':
            backshow(data);
            toDisabled();
            break;
          case 'edit':
            backshow(data);
            $(".title").html("编辑");
            toUnDisabled();
            break;
        }
      });

      //删除
      var tipDialog=function (ids) {
        layer.open({
          content: "确定要删除么?",
          yes: function(index, layero){
            layer.close(index); //如果设定了yes回调，需进行手工关闭
            CoreUtil.sendDelete(ctx + "product/delete",ids,function (res) {
              layer.msg(res.msg, {time:1000},function () {
                tableIns1.reload();
              });
            });
          }
        });
      };

      //返回
      $("#btn_cancel").click(function() {
        $(".table_div").show();
        $(".operation").hide();
        tableIns1.reload();
        return false;
      });

      //监听保存
      form.on('submit(submit)', function(data){
        if(data.field.id===undefined || data.field.id===null || data.field.id===""){
          CoreUtil.sendPost(ctx + "product/add",data.field,function (res) {
            $(".table_div").show();
            $(".operation").hide();
            tableIns1.reload();
          });
        }else {
          CoreUtil.sendPut(ctx + "product/update",data.field,function (res) {
            $(".table_div").show();
            $(".operation").hide();
            tableIns1.reload();
          });
        }

        return false;
      });

      // 监听搜索操作
      form.on('submit(data-search-btn)', function (data) {
        //执行搜索重载
        tableIns1.reload({
          page: {
            curr: 1
          }
          , where: data.field
        });
        return false;
      });

      //回显
      var backshow = function (data) {
        $(".table_div").hide();
        $(".operation").show();
        $(".title").html("查看");
        setTimeout(function () {
          form.val('info', {
            "test": "test"
                        , "id": data.id
                        , "productCode": data.productCode
                        , "productName": data.productName
                        , "productNameEn": data.productNameEn
                        , "brandName": data.brandName
                        , "categoryId": data.categoryId
                        , "mainImageUrl": data.mainImageUrl
                        , "thumbnailImageUrl": data.thumbnailImageUrl
                        , "shortDescription": data.shortDescription
                        , "detailDescription": data.detailDescription
                        , "status": data.status
                        , "remark": data.remark
                        , "updatedBy": data.updatedBy
                        , "createdTime": data.createdTime
                        , "updatedTime": data.updatedTime
                    });
        }, 200);
      }

      //禁用输入
      var toDisabled = function () {
        $(".oper").hide();
        $(".disabled").each(function (index, elem) {
          $(elem).attr("disabled", "")
        })
      }

      //放开输入
      var toUnDisabled = function () {
        $(".oper").show();
        $(".disabled").each(function (index, elem) {
          $(elem).removeAttr("disabled", "")
        })
      }
    });
</script>