<!DOCTYPE html>
<html lang="en" xmlns:sa="http://www.thymeleaf.org/extras/sa-token"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--公共模块-->
    <div th:replace="~{layout}"></div>
<body>
<div class="panel panel-default operation" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form "  id="addForm" action="" lay-filter="info">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">采购单号</label>
                <div class="layui-input-block">
                    <input type="purchaseOrderNo" name="purchaseOrderNo" placeholder="请输入采购单号" autocomplete="off" lay-verify="required" lay-verType="tips" class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">供应商</label>
                <div class="layui-input-block">
                    <select name="supplierId" id="supplier" lay-verify="required" lay-verType="tips"  lay-filter="supplier"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">采购币种</label>
                <div class="layui-input-block">
                    <select name="currencyCode" id="currencyCode" lay-verify="required" lay-verType="tips"  lay-filter="currencyCode"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">金额合计</label>
                <div class="layui-input-block">
                    <input type="amountGoodsTotal" name="amountGoodsTotal" placeholder="请输入商品金额合计（不含运费）" readonly
                           autocomplete="off" class="layui-input disabled layui-disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">运费</label>
                <div class="layui-input-block">
                    <input type="amountFreightTotal" name="amountFreightTotal" placeholder="请输入整单运费"
                           autocomplete="off" class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分摊方式</label>
                <div class="layui-input-block">
                    <select name="allocationMethod" lay-verify="required" lay-verType="tips"  id="am" lay-filter="am"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">物流方式</label>
                <div class="layui-input-block">
                    <select name="logisticsMethod" lay-verify="required" lay-verType="tips"  id="lm" lay-filter="lm"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">物流单号</label>
                <div class="layui-input-block">
                    <input type="logisticsTrackingNo" name="logisticsTrackingNo" placeholder="请输入物流单号（海运/空运）"
                           autocomplete="off" class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发货时间</label>
                <div class="layui-input-block">
                    <input type="shipOutTime" name="shipOutTime" id="shipOutTime" placeholder="请输入中国出库/发货时间"
                           autocomplete="off" class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">入库时间</label>
                <div class="layui-input-block">
                    <input type="warehouseInTime" name="warehouseInTime" id="warehouseInTime" placeholder="请输入菲律宾仓库入库时间"autocomplete="off" class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">采购状态</label>
                <div class="layui-input-block">
                    <select name="status" lay-verify="required" lay-verType="tips"  id="addPurchaseStatus" lay-filter="addPurchaseStatus"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="remark" name="remark" placeholder="请输入备注" autocomplete="off"
                           class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table_div">
    <div id="searchParam" sa:hasPermission="purchaseOrder:list">
        <form class="layui-form ">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">采购单号</label>
                    <div class="layui-input-inline">
                        <input type="purchaseOrderNo" name="purchaseOrderNo" placeholder="请输入采购单号" autocomplete="off"
                               class="layui-input disabled">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">物流单号</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="请输入物流单号" class="layui-input disabled" name="logisticsTrackingNo" id="logisticsTrackingNo" lay-filter="logisticsTrackingNo" />
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">入库日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="warehouseInTimeBegin" name="warehouseInTimeBegin">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="warehouseInTimeEnd" name="warehouseInTimeEnd">
                    </div>
                </div>



                <!-- 搜索按钮 -->
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn">
                        <i class="layui-icon layui-icon-search"></i> 搜索
                    </button>
                </div>

            </div>
        </form>
    </div>
    <table class="layui-table" id="showTable" lay-filter="showTable"></table>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container oper">
        <button class="layui-btn layui-btn-sm" lay-event="add" sa:hasPermission="purchaseOrder:add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" sa:hasPermission="purchaseOrder:delete">删除
        </button>
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" sa:hasPermission="purchaseOrderItem:list" lay-event="detail">明细</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" sa:hasPermission="purchaseOrder:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" sa:hasPermission="purchaseOrder:delete">删除</a>
</script>

</body>
</html>
<script>
    layui.use(function () {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#warehouseInTime'
        });
        laydate.render({
            elem: '#shipOutTime'
        });
        laydate.render({
            elem: '#warehouseInTimeBegin'
        });
        laydate.render({
            elem: '#warehouseInTimeEnd'
        });
        var dictTypes = ['allocationMethod', 'logisticsMethod', 'purchaseStatus', 'supplier','currency'];

        // 一次性加载
        loadDicts(dictTypes, function () {
            renderDictSelect('purchaseStatus', $('#addPurchaseStatus'), '请选择', 'addForm');
            renderDictSelect('logisticsMethod', $('#lm'), '请选择', 'addForm');
            renderDictSelect('allocationMethod', $('#am'), '请选择', 'addForm');
            renderDictSelect('currency', $('#currencyCode'), '请选择', 'addForm');
            renderDictSelect('supplier', $('#supplier'), '请选择', 'addForm');
        })

        //加载table
        var tableIns1 = table.render({
            elem: '#showTable'
            , contentType: 'application/json'
            , page: true //开启分页
            , url: ctx + 'purchaseOrder/listByPage' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'purchaseOrderNo', title: '采购单号', sort: true},
                    {field: 'supplierId', title: '供应商', sort: true,templet:function(p){return getDictLabel('supplier',p.supplierId);}},
                    {field: 'amountGoodsTotal', title: '金额', sort: true},
                    {field: 'amountFreightTotal', title: '运费', sort: true},
                    {field: 'currencyCode', title: '币种', sort: true},
                    {field: 'allocationMethod', title: '分摊方式',hide:true, sort: true,templet:function(p){return getDictLabel('allocationMethod',p.allocationMethod);}},
                    {field: 'logisticsMethod', title: '物流方式',hide:true, sort: true,templet:function(p){return getDictLabel('logisticsMethod',p.logisticsMethod);}},
                    {field: 'logisticsTrackingNo',width:150, title: '物流单号', sort: true},
                    {field: 'shipOutTime',width:110,  title: '发货时间', sort: true},
                    {field: 'warehouseInTime',width:110, title: '入库时间', sort: true},
                    {field: 'status', title: '状态', sort: true,templet:function(p){return getDictLabel('purchaseStatus',p.status);}},
                    {field: 'remark', title: '备注', sort: true,hide:true},
                    {field: 'updatedBy', title: '更新人', sort: true,hide:true},
                    {field: 'updatedTime',width:170, title: '更新时间', sort: true},
                    { title:'操作', width:180, align:'center', templet:function(d){
                        var btn = [];
                        btn.push('<a class="layui-btn layui-btn-primary layui-btn-xs" sa:hasPermission="purchaseOrderItem:list" lay-event="detail">明细</a>');
                        if(d.status == 0 || d.status == 1){
                            btn.push('<a class="layui-btn layui-btn-xs" lay-event="edit" sa:hasPermission="purchaseOrder:update">编辑</a>');
                            btn.push('<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" sa:hasPermission="purchaseOrder:delete">删除</a>');
                        }
                        if(d.status ==2 || d.status ==3){
                            btn.push('<a class="layui-btn layui-btn-xs" lay-event="edit" sa:hasPermission="purchaseOrder:update">编辑</a>');
                        }
                        return btn.join('');
                        }
                    }
                ]
            ]
            , toolbar: '#toolbar'
        });

        autoMarkRequired("#addForm");

        //表头工具
        table.on('toolbar(showTable)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialog(ids);
                    }
                    break;
                case 'add':
                    toUnDisabled();
                    $(".table_div").hide();
                    $(".operation").show();
                    $(".title").html("新增");
                    setTimeout(function () {
                        form.val('info', {
                            "test": "test"
                            , "id": ""
                            , "purchaseOrderNo": ""
                            , "supplierId": ""
                            , "currencyCode": ""
                            , "fxRateDate": ""
                            , "amountGoodsTotal": ""
                            , "amountFreightTotal": ""
                            , "amountOtherTotal": ""
                            , "allocationMethod": ""
                            , "logisticsMethod": ""
                            , "logisticsTrackingNo": ""
                            , "shipOutTime": ""
                            , "warehouseInTime": ""
                            , "status": ""
                            , "remark": ""
                            , "createdTime": ""
                            , "updatedTime": ""
                            , "updatedBy": ""
                        });
                    }, 200);
                    break;
            }
            ;
        });
        //列操作
        table.on('tool(showTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var ids = [];
                    ids.push(data.id);
                    tipDialog(ids);
                    break;
                case 'look':
                    backshow(data);
                    toDisabled();
                    break;
                case 'edit':
                    backshow(data);
                    $(".title").html("编辑");
                    toUnDisabled();
                    break;
                case 'detail':
                    openDetailLayer(data.id,data.purchaseOrderNo,data.status);
                    break;
            }
        });

        function openDetailLayer(purchaseOrderId,pon,status) {
            layer.open({
                type: 2, // iframe
                title: '采购明细 - ' + pon,
                area: ['90%', '90%'],
                maxmin: true,
                content: ctx + 'purchaseOrderItem/detail?orderId=' + purchaseOrderId+'&status='+status
            });
        }

        //删除
        var tipDialog = function (ids) {
            layer.open({
                content: "确定要删除么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete(ctx + "purchaseOrder/delete", ids, function (res) {
                        layer.msg(res.msg, {time: 1000}, function () {
                            tableIns1.reload();
                        });
                    });
                }
            });
        };

        //返回
        $("#btn_cancel").click(function () {
            $(".table_div").show();
            $(".operation").hide();
            tableIns1.reload();
            return false;
        });

        //监听保存
        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendPost(ctx + "purchaseOrder/add", data.field, function (res) {
                    $(".table_div").show();
                    $(".operation").hide();
                    tableIns1.reload();
                });
            } else {
                CoreUtil.sendPut(ctx + "purchaseOrder/update", data.field, function (res) {
                    $(".table_div").show();
                    $(".operation").hide();
                    tableIns1.reload();
                });
            }

            return false;
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            tableIns1.reload({
                page: {
                    curr: 1
                }
                , where: data.field
            });
            return false;
        });

        //回显
        var backshow = function (data) {
            $(".table_div").hide();
            $(".operation").show();
            $(".title").html("查看");
            setTimeout(function () {
                form.val('info', {
                    "test": "test"
                    , "id": data.id
                    , "purchaseOrderNo": data.purchaseOrderNo
                    , "supplierId": data.supplierId
                    , "currencyCode": data.currencyCode
                    , "fxRateDate": data.fxRateDate
                    , "amountGoodsTotal": data.amountGoodsTotal
                    , "amountFreightTotal": data.amountFreightTotal
                    , "amountOtherTotal": data.amountOtherTotal
                    , "allocationMethod": data.allocationMethod
                    , "logisticsMethod": data.logisticsMethod
                    , "logisticsTrackingNo": data.logisticsTrackingNo
                    , "shipOutTime": data.shipOutTime
                    , "warehouseInTime": data.warehouseInTime
                    , "status": data.status
                    , "remark": data.remark
                    , "createdTime": data.createdTime
                    , "updatedTime": data.updatedTime
                    , "updatedBy": data.updatedBy
                });
            }, 200);
        }

        //禁用输入
        var toDisabled = function () {
            $(".oper").hide();
            $(".disabled").each(function (index, elem) {
                $(elem).attr("disabled", "")
            })
        }

        //放开输入
        var toUnDisabled = function () {
            $(".oper").show();
            $(".disabled").each(function (index, elem) {
                $(elem).removeAttr("disabled", "")
            })
        }
    });
</script>