<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.SalesOrderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.SalesOrderEntity" id="salesOrderMap">
        <result property="id" column="id"/>
        <result property="platformCode" column="platform_code"/>
        <result property="shopId" column="shop_id"/>
        <result property="platformOrderNo" column="platform_order_no"/>
        <result property="orderStatus" column="order_status"/>
        <result property="currencyCode" column="currency_code"/>
        <result property="goodsAmount" column="goods_amount"/>
        <result property="shippingFeeBuyer" column="shipping_fee_buyer"/>
        <result property="taxAmount" column="tax_amount"/>
        <result property="sellerDiscountTotal" column="seller_discount_total"/>
        <result property="platformDiscountTotal" column="platform_discount_total"/>
        <result property="buyerPayAmount" column="buyer_pay_amount"/>
        <result property="orderTime" column="order_time"/>
        <result property="payTime" column="pay_time"/>
        <result property="completeTime" column="complete_time"/>
        <result property="deleted" column="deleted"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>


</mapper>